
.gm-style .gm-style-iw { font-weight: 300; font-size: 13px; overflow: hidden; }
.gm-style .gm-iw { color: rgb(44, 44, 44); }
.gm-style .gm-iw b { font-weight: 400; }
.gm-style .gm-iw a:link, .gm-style .gm-iw a:visited { color: rgb(66, 114, 219); text-decoration: none; }
.gm-style .gm-iw a:hover { color: rgb(66, 114, 219); text-decoration: underline; }
.gm-style .gm-iw .gm-title { font-weight: 400; margin-bottom: 1px; }
.gm-style .gm-iw .gm-basicinfo { line-height: 18px; padding-bottom: 12px; }
.gm-style .gm-iw .gm-website { padding-top: 6px; }
.gm-style .gm-iw .gm-photos { padding-bottom: 8px; -webkit-user-select: none; }
.gm-style .gm-iw .gm-sv, .gm-style .gm-iw .gm-ph { cursor: pointer; height: 50px; width: 100px; position: relative; overflow: hidden; }
.gm-style .gm-iw .gm-sv { padding-right: 4px; }
.gm-style .gm-iw .gm-wsv { cursor: pointer; position: relative; overflow: hidden; }
.gm-style .gm-iw .gm-sv-label, .gm-style .gm-iw .gm-ph-label { cursor: pointer; position: absolute; bottom: 6px; color: rgb(255, 255, 255); font-weight: 400; text-shadow: rgba(0, 0, 0, 0.701961) 0px 1px 4px; font-size: 12px; }
.gm-style .gm-iw .gm-stars-b, .gm-style .gm-iw .gm-stars-f { height: 13px; font-size: 0px; }
.gm-style .gm-iw .gm-stars-b { position: relative; width: 65px; top: 3px; margin: 0px 5px; background-position: 0px 0px; }
.gm-style .gm-iw .gm-rev { line-height: 20px; -webkit-user-select: none; }
.gm-style .gm-iw .gm-numeric-rev { font-size: 16px; color: rgb(221, 75, 57); font-weight: 400; }
.gm-style .gm-iw.gm-transit { margin-left: 15px; }
.gm-style .gm-iw.gm-transit td { vertical-align: top; }
.gm-style .gm-iw.gm-transit .gm-time { white-space: nowrap; color: rgb(103, 103, 103); font-weight: bold; }
.gm-style .gm-iw.gm-transit img { width: 15px; height: 15px; margin: 1px 5px 0px -20px; float: left; }
.gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div { font-size: 10px; }
.gm-style { font-family: Roboto, Arial, sans-serif; font-size: 11px; font-weight: 400; text-decoration: none; }
.gm-style img { max-width: none; }
hr { color: rgb(204, 204, 204); height: 1px; border: medium none; background-color: rgb(204, 204, 204); }
blockquote { border-left-width: 5px; border-left-style: solid; border-left-color: rgb(204, 204, 204); margin: 1.5em 10px; padding: 0.5em 10px; font-style: italic; }
blockquote p { display: inline; }
p { margin: 0px; }
body a { cursor: pointer; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:hover, a:focus { color: rgb(35, 82, 124); text-decoration: underline; }
.revealOnScroll { opacity: 0; }
.fullheight { min-height: 100vh !important; }
body { margin: 0px auto; line-height: 27px; color: rgb(51, 51, 51); font-family: 'Josefin Sans', sans-serif; max-width: 100%; border-radius: 0px; box-shadow: rgb(204, 204, 204) 0px 0px 0px 0px; }
#bodyminusfooter { margin: 0px auto; overflow: hidden; }
h1, h2, h3 { font-family: 'Josefin Sans', sans-serif; }
.insidemenuwidth { height: inherit; margin: auto; max-width: 1000px; }
.insidemenuwidth a { height: inherit; outline: none; text-decoration: none; }
#insidecfooterwidth { max-width: 1000px; margin: 20px auto; color: rgb(147, 159, 166); padding-left: 10px; padding-right: 10px; }
.cfootersocial { float: right; margin: auto; }
.cfootersocial a { font-size: 45px; padding-left: 5px; padding-right: 5px; transition: all 300ms ease-in 0s; text-decoration: none; outline: none; float: left; }
#insidecfooterwidth a { color: rgb(255, 255, 255); }
#insidecfooterwidth a:hover { color: rgb(207, 224, 227); }
#content.hpg > div:first-child > div:first-child { padding-top: 100px; }
#content.hpg > section:first-child > div:first-child { padding-top: 500px; }
#menu .insidemenuwidth { overflow: hidden; }
#menuspecial .insidemenuwidth { overflow: hidden; }
#menuspecial { height: 50px; opacity: 1; position: absolute; width: 100%; z-index: 55; overflow: hidden; max-width: 100%; left: 0px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(207, 224, 227); border-radius: 0px; box-shadow: rgb(51, 51, 51) 0px 0px 0px 0px; transition: all 0.3s ease-out; background-color: rgb(255, 255, 255); }
#menuspecial.slimm { z-index: 55; position: fixed; top: 0px; width: 100%; margin-top: 0px; max-width: 100%; height: 50px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(207, 224, 227); border-radius: 0px; box-shadow: rgb(51, 51, 51) 0px 0px 0px 0px; background-color: rgb(255, 255, 255); }
#logocon { height: 100px; padding-top: 0px; padding-bottom: 0px; background-color: rgb(255, 255, 255); }
#logo { float: left; height: inherit; }
#logo2 { float: left; height: inherit; display: none; opacity: 0; transition: visibility 0s 0.5s, opacity 0.5s linear; }
#logo2.slimm { display: block; opacity: 1; transition: opacity 0.5s linear; }
#menuspecial .menu-icon, #menuspecial .menu-icon::after, #menuspecial .menu-icon::before { background-color: rgb(207, 224, 227); }
#menuspecial.slimm .menu-icon, #menuspecial.slimm .menu-icon::after, #menuspecial.slimm .menu-icon::before { background-color: rgb(207, 224, 227); }
#cfooter { border-top-width: 0px; border-top-style: solid; border-top-color: rgb(147, 159, 166); display: table; width: 100%; background-color: rgb(31, 32, 33); }
.footerclass { padding: 20px; margin: auto; list-style: none; }
.footerclass a { text-decoration: none; outline: none; cursor: pointer; }
#logotext { padding-top: 10px; overflow: hidden; width: 100%; }
#logotextcon { padding-left: 10px; padding-right: 10px; margin-bottom: 10px; }
.c-menu { position: fixed; z-index: 50; transition: transform 0.3s; background-color: rgb(24, 97, 110); }
.bodycontrans { transition: transform 0.3s ease 0s; }
.c-menu--slide-left .c-menu__close, .c-menu--slide-right .c-menu__close, .c-menu--push-left .c-menu__close, .c-menu--push-right .c-menu__close { display: block; padding: 12px 24px; width: 100%; }
.c-menu--slide-top, .c-menu--slide-bottom, .c-menu--push-top, .c-menu--push-bottom { vertical-align: middle; width: 100%; text-align: center; overflow: hidden; }
.c-menu--slide-top .c-menu__items, .c-menu--slide-bottom .c-menu__items, .c-menu--push-top .c-menu__items, .c-menu--push-bottom .c-menu__items { display: inline-block; text-align: center; }
.c-menu--slide-top .c-menu__item, .c-menu--slide-bottom .c-menu__item, .c-menu--push-top .c-menu__item, .c-menu--push-bottom .c-menu__item { display: inline-block; line-height: 60px; }
.c-menu--slide-top .c-menu__link, .c-menu--slide-bottom .c-menu__link, .c-menu--push-top .c-menu__link, .c-menu--push-bottom .c-menu__link { display: block; padding: 0px 4px; color: rgb(255, 255, 255); }
.c-menu--slide-top .c-menu__close, .c-menu--slide-bottom .c-menu__close, .c-menu--push-top .c-menu__close, .c-menu--push-bottom .c-menu__close { display: inline-block; margin-right: 12px; padding: 0px 24px; height: 60px; line-height: 60px; }
.c-menu--slide-top, .c-menu--push-top { top: 50px; left: 0px; transform: translateY(-490px); }
.c-menu__close { color: rgb(255, 255, 255); font-size: 14px; border: none; box-shadow: none; -webkit-appearance: none; cursor: pointer; background-color: rgb(119, 168, 176); }
.c-menu__close:focus { outline: none; }
.c-mask { position: fixed; z-index: 100; top: 0px; left: 0px; overflow: hidden; width: 0px; height: 0px; opacity: 0; transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s; display: none; background-color: rgb(0, 0, 0); }
.c-toggle { float: right; display: block; height: 100px; cursor: pointer; }
.m-icon { font-weight: bolder; font-size: 50px; color: rgb(207, 224, 227); transition: all 300ms linear; }
.m-font { padding: 25px 0px; outline: none; text-decoration: none; color: rgb(255, 255, 255); font-weight: bolder; transition: all 300ms linear; }
.m-font:hover { outline: none; text-decoration: none; font-weight: bolder; color: rgb(120, 138, 158); }
.m-font:focus { outline: none; text-decoration: none; color: rgb(120, 138, 158); }
.m-col { margin-top: 10px; margin-bottom: 10px; padding: 20px; }
.m-row { max-width: 500px; margin: 0px auto; }
.headerHeader { font-weight: 700; line-height: 0.4; color: rgb(255, 255, 255); font-size: 39.5pt; }
.headerText { color: rgb(233, 233, 233); font-size: 16.9pt; }
.big-pad { padding-top: 250px; padding-bottom: 250px; }
#header-back .container { padding-top: 400px; }
.nava { color: rgb(207, 224, 227); }
.nava:hover { color: rgb(105, 134, 140); }
.view { width: 270px; height: 200px; margin: 0px auto; float: left; overflow: hidden; position: relative; text-align: center; box-shadow: rgb(230, 230, 230) 1px 1px 2px; cursor: default; background: url("../images/bgimg.jpg") 50% 50% no-repeat rgb(255, 255, 255); }
.view .mask, .view .content { width: 280px; height: 200px; position: absolute; overflow: hidden; top: 0px; left: 0px; }
.view img { display: block; position: relative; }
.view h2 { text-transform: uppercase; color: rgb(255, 255, 255); text-align: center; position: relative; font-size: 17px; margin: 20px 0px 0px; background: rgba(0, 0, 0, 0.8); }
.view p { font-family: Georgia, serif; font-style: italic; font-size: 12px; position: relative; color: rgb(255, 255, 255); padding: 10px 20px 20px; text-align: center; }
.view a.info { display: inline-block; text-decoration: none; padding: 7px 14px; color: rgb(255, 255, 255); text-transform: uppercase; box-shadow: rgb(0, 0, 0) 0px 0px 1px; background: rgb(0, 0, 0); }
.view-fifth img { transition: all 0.3s ease-in-out; }
.view-fifth .mask { transform: translateX(-300px); opacity: 1; transition: all 0.3s ease-in-out; background-color: rgba(146, 96, 91, 0.298039); }
.view-fifth h2 { color: rgb(0, 0, 0); box-shadow: rgba(159, 141, 140, 0.498039) 0px 1px 3px; background: rgba(255, 255, 255, 0.498039); }
.view-fifth p { opacity: 0; color: rgb(51, 51, 51); transition: all 0.2s linear; }
.view-fifth:hover .mask { transform: translateX(0px); }
.view-fifth:hover img { transform: translateX(300px); }
.view-fifth:hover p { opacity: 1; }
